/**Reiniciando espacios de mi página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}

/**Fuentes para usar en la página*/
:root {
    --font-onest: 'Onest', sans-serif;
    --font-yeseva: 'Yeseva One', serif;
    --font-borel: 'Borel', cursive;
    --color1: #f5e7e9;
    --color2: #f4afcf;
    --color3: #a8dae3;
    --color4: #cab8f2;
    --color5: #54248f;
    --big-title-size: clamp(20px, 2.5vw, 60px);
    /*Con la función clamp se establece un tamaño de fuente que crezca con el tamaño del viewport, pero no se reduzca debajo de un mínimo y no se incremente por encima de un máximo.*/
    --title-font-size: clamp(14px, 1.8vw, 40px);
    --text-font-size: clamp(12px, 1.2vw, 30px);
    --text-font-size-small: clamp(8px, 1.2vw, 20px);
    --title-font-size-mobile: clamp(20px, 8vw, 35px);
    --text-popup: clamp(8px, 1.8vw, 20px);
    --title-popup: clamp(8px, 4vw, 20px);
}

.contenedor {
    display: flex;
    flex-direction: row;
}

aside{
    background-color: var(--color2);
    padding: 20px 20px 20px 20px;
    color: black;
    height: clamp(850px, 200vh,1500px); /*Para que ocupe todo lo alto del viewport*/
    width: clamp(50px, 20%, 250px);
    font-family: var(--font-onest);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.encabezado{ /*barra lateral*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opciones{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.logo{
    width: clamp(80px, 30%, 120px);
    margin-bottom: 20px;
}

h3{
    font-family: var(--font-borel);
}

.close{ /*ESTO ES NUEVO*/
    position: relative;
    top: 100%;
    left: 30%;
    border-radius: 10px;
    width: 100px;
    background-color: #a8dae3;
    border: none;
    height: 50px;
    font-family: var(--font-onest);
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.close:hover{
    background-color: var(--color1);
}


section{
    display: flex;
    flex-direction: column;
    font-family: var(--font-onest);
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #a8dae3;
    
}

a{
    text-decoration: none;
    color: #54248f;
    margin: 10px 10px 10px 10px;
}

table{
    margin-top: 20px;
    border: black solid 2px;
}

.acordeon{
    background-color: var(--color4);
}

.acordeon:hover{
    background-color: var(--color3);
}


/*ESTILOS PARA EDIT*/
.delete-background {
    /*Este contenedor hará que la preview tenga un fondo oscuro*/
    position: fixed;
    /*Toda la sección de preview estará en posición fija en la pantalla del navegador*/
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    display: none;
    /*Por defecto estará desactivada esta sección, la activación se hace por manipulación del DOM*/
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    /*Es el fondo de la review, es con el fin de centrar la atención del usuario en el contenido de la review*/
}

.delete-preview {
    display: none;
    width: 350px;
    gap: 0;
    text-align: center;
    background: white;
    top: 40%;
    left:35%;
    position: fixed;
    margin: 20px;
    height: 180px;
    border-radius: 5px;
    padding-top: 10px;
}

.alinearDelete{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 150px;
    padding: 20px;
}


.confirmation{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    width: 150px;
    left: 10%;
}

/*POPUP DE EDICIÓN*/
.edit-background {
    /*Este contenedor hará que la preview tenga un fondo oscuro*/
    position: fixed;
    /*Toda la sección de preview estará en posición fija en la pantalla del navegador*/
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: none;
    /*Por defecto estará desactivada esta sección, la activación se hace por manipulación del DOM*/
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    /*Es el fondo de la review, es con el fin de centrar la atención del usuario en el contenido de la review*/
}

.edit-preview {
    display: none;
    width: auto;
    gap: 0;
    text-align: center;
    background: white;
    top: 5%;
    left:20%;
    position: fixed;
    margin: 20px;
    padding: 20px;
    height: auto;
    border-radius: 5px;
}

.alinearEdit{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
}

.fila{ /*pone los inputs del formulario en fila*/
    display: flex;
    flex-direction: row;
    gap:40px;
    justify-content: flex-start;
    align-content:flex-start;
}


@media (max-width: 768px){
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    
    aside{
        background-color: var(--color2);
        padding: 20px 20px 20px 20px;
        color: black;
        height: clamp(160px, 20%, 250px);
        width: clamp(450px, 100%, 768px);
        font-family: var(--font-onest);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .logo{
        width: clamp(30px, 20%, 120px);
        margin-bottom: 20px;
    }
    
    h3{
        font-family: var(--font-borel);
    }
    
    .acordeon{
        background-color: var(--color4);
    }

    .acordeon:hover{
        background-color: var(--color3);
    }

    .close{
        left: 10%;
    }
    
    section{
        max-width:780px; 
        overflow: scroll;
    }

/*ESTILOS PARA EDIT*/
.delete-background {
    /*Este contenedor hará que la preview tenga un fondo oscuro*/
    position: fixed;
    /*Toda la sección de preview estará en posición fija en la pantalla del navegador*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    /*Por defecto estará desactivada esta sección, la activación se hace por manipulación del DOM*/
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    /*Es el fondo de la review, es con el fin de centrar la atención del usuario en el contenido de la review*/
}

.delete-preview {
    display: none;
    width: 350px;
    gap: 0;
    text-align: center;
    background: white;
    top: 50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    margin: 20px;
    height: 150px;
    border-radius: 5px;
}

.alinearDelete{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 150px;
    padding: 20px;
}


.confirmation{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    width: 150px;
    left: 10%;
}

/*POPUP DE EDICIÓN*/
.edit-background {
    /*Este contenedor hará que la preview tenga un fondo oscuro*/
    position: fixed;
    /*Toda la sección de preview estará en posición fija en la pantalla del navegador*/
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: none;
    /*Por defecto estará desactivada esta sección, la activación se hace por manipulación del DOM*/
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    /*Es el fondo de la review, es con el fin de centrar la atención del usuario en el contenido de la review*/
}

.edit-preview {
    display: none;
    width: auto;
    gap: 0;
    text-align: center;
    background: white;
    top: 50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    margin: 20px;
    padding: 20px;
    height: auto;
    border-radius: 5px;
}

.alinearEdit{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
}

.fila{ /*pone los inputs del formulario en fila*/
    display: flex;
    flex-direction: row;
    gap:40px;
    justify-content: flex-start;
    align-content:flex-start;
}

    }