:root {
    --font-primary: 'MuseoModerno', sans-serif;
    --font-title: 'MuseoModerno', sans-serif;
    --font-button: 'Roboto', sans-serif;
    --primary-color: #54248f;
    --primary-light: #f5e7e9;
    --primary-dark: #cab8f2;
    --secondary-color: #6667B0;
    --background-primary: #a8dae3;
    --background-secondary: #f4afcf ;
    --button-responsive: #54248f;;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--background-secondary);
    color: var(--primary-light);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;

}

h1{
    font-family: var(--font-title);
    color: var(--primary-light);

}
body {
    font-size: 16px;
    background-color: var(--background-primary);
    font-family: var(--font-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-title);
    color: var(--primary-color);
    text-align: center;
}
/*
.socials-row {
    display: flex;
    gap: 16px;
    margin: 15px 0 12px 0;
}

.socials-row img {
    width: 24px;
    height: 24px;
}*/

.socials-row > a {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 30px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.socials-row > a:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.divider {
    display: flex;
    flex-direction: row;
    color: var(--primary-dark);
    gap: 16px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: var(--primary-dark);
    opacity: 0.2;
}

.form-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-width: 100w;
}

.form-side {
    /* padding: 186px 32px 48px 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
}

.info-side {
    height: 100vh;
    /* padding: 248px 12px 8px 12px; */
    color: #401B3D;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92deg, var(--background-secondary) 30%,var(--background-primary) 95.43%);
}

.info-side img {
    max-width: 360px;
}

.text-field {
    position: flex;
    flex-direction: column;
    margin-top: 10px;
}

.text-field input {
    font-family: var(--font-primary);
    color: var(--secondary-color);
    font-size: 14px;
    max-width: 100%;
    height: 40px;
    border: 1px solid var(--primary-dark);
    background-color: transparent;
    outline: none;
    border-radius: 8px;
    margin-top: 4px;
    padding-left: 10px;
}

.text-field input:focus {
    border: 1px solid var(--primary-color);
    stroke: var(--primary-color);
}

.text-field label {
    color: var(--primary-dark);
    font-size: 16px;
    letter-spacing: .03rem;
}

#email, #password {
    width: 100%;
    color: var(--secondary-color);
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 16px;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    padding: 48px 32px;
    height: fit-content;
    box-shadow: var(--shadow-color) 6px 7px 29px 6px;
}

.form-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.form-welcome-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.my-form__button {
    background-color: var(--primary-color);
    color: var(--primary-light);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    outline: none;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    min-height: 40px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px var(--shadow-color);
    transition: all 0.3s ease;
    font-family: var(--font-button);
}

.text-field-forgot-password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.my-form__button:hover {
    color: var(--background-secondary);
    border: 1px solid var(--background-secondary);
}

.my-form__actions {
    height: 50px;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
    margin-top: 50px;
    font-size: 14px;
}

.my-form__actions  p {
    font-family: sans-serif;
    display: inline-block;
    margin: 0;
    
}

.my-form__actions > a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 200;
}



/* Responsive 720px */
@media (width <= 720px) { /*Nueva sintaxis para media queries*/
    body {
        background: linear-gradient(0deg, var(--background-secondary) 30%,var(--background-primary) 95.43%);
        height: 100vh;
    }

    h2 {
        color: var(--primary-light);
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-wrapper {
        grid-template-columns: 1fr;
        flex-direction: column;
        height: 100vh;
    }
    
    .form-side {
        margin: 1.5;
        background-color: transparent;
    }

    .my-form {
        width: 100%;
        box-shadow: none;
        padding: 5px;
    }

    .info-side {
        display: none;
    }

    .socials-row {
        display: grid;
        grid-template-columns: 1fr;
        height: 170px;
    }
   .text-field-forgot-password {
        font-size: 1.9em;
        color: var(--primary-dark);
        border: none;
        background-color: var(--shadow-color);
    }
    
    .socials-row > a {
        border-radius: 12px;
        font-size: 1.9em;
        color: var(--primary-dark);
        border: none;
        background-color: var(--shadow-color);
    }

    .socials-row img {
        width: 38px;
        height: 41px;
    }

    .divider {
        font-size: 1.7em;
        color: var(--primary-light);
    }
    
    .divider-line {
        height: 2px;
        background-color: var(--primary-light);
    }

    .text-field {
        margin-top: 10px;
    }
    
    .text-field input {
        color: var(--background-secondary);
        font-size: 1.7em;
        height: 75px;
        border: none;
        background-color: var(--shadow-color);
        outline: none;
        border-radius: 12px;
        margin-top: 3px;
        padding-left: 20px;
    }


    .text-field label {
        color: var(--primary-light);
        font-size: 1.9em;
        letter-spacing: .03rem;
    }

    .my-form__button {
        height: 75px;
        box-shadow: none;
        font-size: 2em;
        padding: 10px;
        background-color: var(--button-responsive);
        border-radius: 12px;
    }

    .my-form__actions {
        margin-top: 40px;
        font-size: 1.2em;
        text-align:center;
        width: 85%;
    }
    
    .my-form__actions > a {
        color: var(--primary-light);
        text-decoration: none;
        font-weight: 400;
    }
}