/**Reiniciando mi navegador*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**Declarando variables de fuentes y color*/
:root {
    --font-primary: 'Borel', sans-serif;
    /*Logo y otros elementos*/
    --font-secundary: 'Onest', sans-serif;
    /*Textos*/
    --font-tertiary: 'Yeseva One', sans-serif;
    /*Encabezados*/
    --color-primary: #f5e7e9;
    --color-secundary: #f4afcf;
    --color-tertiary: #a8dae3;
    --color-quaternary: #54248f;
    --color-quinary: #cab8f2;

}

/**Color de fondo del contenedor*/
.contenedor {
    background-color: white;
    
}



.footer{
    padding-top: 10px;
    position: absolute;
    width: 100% !important;
    height: 155px !important;
}

/**Grid layout de proceso de pago */

.contenedor {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
        "contenedor-form contenedor-form resumen"
        "contenedor-form contenedor-form resumen"
        "contenedor-form contenedor-form resumen";
}

.navegacion {
    grid-area: navegacion;
}

.contenedor-form {
    grid-area: contenedor-form;
    font-family: var(--font-secundary);
    font-size: 16px;
}
.contenedor input:focus {
    border-color: var(--color-quaternary); 
    
}
.contenedor input::placeholder {
    color: var(--color-quaternary); 
}
.contenedor input:focus {
    background-color: var(--color-primary); 
}
.contenedor input {
    color: var(--color-quaternary);
}
.contenedor label {
    color: var(--color-quaternary); /* Cambia el color del texto de los labels a morado */
}
.alerta p{
    margin-top: 10px;
}



.contenedor-form {
    /* Establece estilos para el contenedor de section */
    width: auto;
    height: auto;
    /* flexbox para centrar horizontalmente el contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.subcontenedor-form {
    
    padding: 20px;
    border: 1px solid var(--color-secundary);
    border-radius: 10px;
    background-color: white; /* Color de fondo del subcontenedor */
    margin: 20px 20px 20px 20px;
}

/** Estilo para boton */
.btn-primary {
    background-color: var(--color-secundary); 
    border-color: var(--color-secundary);
    color: black; 
    font-family: var(--font-secundary);
    font-size: 16px;
    
}
#paypal-button-container{
    background-color:rgba(255, 255, 255, 0);
}
#result-message{
    background-color: #f4afcf;
}
.paypal{
    width: 100%;
    height:auto
}
/* Estilo cuando el cursor está sobre el botón */
.btn-primary:hover {
    background-color: var(--color-tertiary); /* Color de fondo al pasar el ratón sobre el botón */
    border-color: var(--color-tertiary);
    color: #ffffff; /* Color del texto al pasar el ratón sobre el botón */
}




.separador {
    background-color: var(--color-quinary);
    padding: 8px;
    border-radius: 4px;
}

.resumen {
    grid-area: resumen;
    margin: 50px;
    padding: 20px;
}

.footer {
    grid-area: footer;
}

.resumen-pagos{
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #a8dae3;
    height: 250px;
    width: clamp(100px, 100%, 550px);
    position: relative;
    top: 20%;
}

.gracias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.icon{
    width: 50px;
}

.icon i{
    font-size: 50px;
    color:#f4afcf;
}

#aceptar{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    background-color: var(--color-primary);
    border: var(--color-secundary) solid 1px;
    margin-top: 0;
    margin-bottom: 10px;
}

#aceptar:hover{
    height: 32px;
    width: 105px;
}

.gracias p{
    margin: 0;
}

@media only screen and (max-width:5000px){
    .pago-preview {
        /*Este contenedor hará que la preview tenga un fondo oscuro*/
        position: fixed;
        /*Toda la sección de preview estará en posición fija en la pantalla del navegador*/
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100%;
        display: none;
        /*Por defecto estará desactivada esta sección, la activación se hace por manipulación del DOM*/
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: black;
        /*Es el fondo de la review, es con el fin de centrar la atención del usuario en el contenido de la review*/
    }
    
    
    .preview {
        display: none;
        width: 300px;
        gap: 0;
        text-align: center;
        background: white;
        top: 50%;
        left:50%;
        position: fixed;
        transform: translate(-50%, -50%);
        margin: 20px;
        height: 230px;
        border-radius: 15px;
    }

}